[Unit]
Description=Prometheus Config Manager Service
After=network.target
 
[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
WorkingDirectory=/usr/local/prometheus_cfg_manager
ExecStart=/usr/local/prometheus_cfg_manager/pro_cfg_manager
 
[Install]
WantedBy=multi-user.target
